<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wniosek PDF</title>
  <link rel="stylesheet" href="/style.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

    :root {
      --borderSizeNormal: 3px;
      --borderSizeThin: 2px;
      --borderSizeInput: 1px;
      --borderColor: #444;
      --borderRadiusInput: 4px;
      --borderRadiusBox: 2px;
      --primary-background-color: #eee;
      --backgroubd-color-white: #fff;
    }

    * {
      box-sizing: border-box;
    }

    body {
      font-family: Lato, sans-serif;
      width: 100%;

    }

    h1 {
      margin: 0;
      font-size: 28px;
    }

    h2 {
      margin: 0;
      font-size: 19px;
    }

    h3 {
      font-size: 17px;
      margin: 14px 0 9px 0;
      font-weight: 400;
    }

    .logo {
      width: 100%;
      text-align: center;
    }

    img {
      max-width: 100%;
      margin-left: 0;

    }

    .container {

      margin: 0 auto;
      padding: 20px;
    }

    .intro {
      margin-bottom: 1rem;
    }

    .intro-box {
      border: var(--borderSizeNormal) var(--borderColor) solid;
      display: inline-block;
      padding: .7rem;
    }

    .part-title {

      font-size: 18px;
      font-weight: 700;
      /* margin-top: 3rem; */
      margin-bottom: 0;
    }

    .small-box-container {
      margin-top: 1.5rem;
      width: 100%;
    }

    .small-box-title {
      font-size: 13px;
      margin-bottom: 3px;
    }

    .small-box {
      border: var(--borderSizeThin) solid var(--borderColor);
      width: 97%;
      display: inline-block;
      padding: 0 1rem 1rem 1rem;
      border-radius: var(--borderRadiusBox);
      display: flex;
      background-color: var(--primary-background-color);
      min-height: 230px;
    }

    .normal-input-title {
      font-size: .7rem;
      margin-bottom: 0.3rem;
      font-size: bold;
    }

    .normal-input {
      border: solid var(--borderSizeInput) var(--borderColor);
      border-radius: var(--borderRadiusInput);
      min-width: 40%;
      min-height: 33px;
      padding: 8px 4px;
      font-size: 0.7rem;
      max-width: 97%;
      background-color: var(--backgroubd-color-white);
    }

    .normal-input-container {
      margin-top: 1rem;
      font-size: 11px;
      font-family: 'Lato', sans-serif;
    }


    .small-box-right,
    .small-box-left {
      width: 100%;
    }

    .small-box-left {
      margin-right: 7px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      padding-top: 0;
      margin-top: 0;
    }

    .school-name {
      /* width: 200%; */
    }

    .school {
      display: block;
    }

    .flex-2 {
      display: flex;
    }

    .flex-3 {
      display: flex;
    }

    .gap-right {
      margin-right: 0.8rem;
    }

    .adress,
    .town {
      width: 65%;
    }

    .zip,
    .type {
      width: 33%;
    }

    .ghost {
      opacity: 0;
    }


    .additional-right .normal-input-container {
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    .additional-left,
    .additional-right {
      font-size: 1rem;
    }

    .additional {
      display: block;
    }

    .additional .normal-input-container {
      display: flex;
    }

    .text-container {
      width: 75%;
      font-size: 10px;
    }

    .additional .normal-input-container .normal-input {
      max-height: 2.5rem;
    }



    .reversed {
      font-size: 1.2rem;
      padding: 8px 16px;
      color: #fff;
      ;
      background-color: #666;
      border-radius: var(--borderRadiusInput);
      margin-left: .5rem;
      max-width: 20%;
      text-align: center;
    }

    .sub-title {
      margin-top: 1rem;
      font-size: 14px;
    }

    .half {
      max-width: 48%;
    }

    .down-table {
      margin-top: 1rem;

    }

    table,
    tr,
    th {

      font-weight: bold;
    }

    table,
    tr,
    th,
    td {
      border: 1px black solid;
      border-color: var(--borderColor);
      border-radius: 3px;
      padding: 8px;

    }

    table {
      border: var(--borderSizeThin) solid var(--borderColor);
      border-radius: var(--borderRadiusBox) !important;
      border-collapse: collapse;
      margin-left: 0;
      margin-top: 1rem;
      width: 95%;
    }

    th {
      font-size: 13px;
    }

    h3 {
      font-weight: bold;
    }


    td {
      font-size: 12px;
    }

    table tr .cost {
      text-align: right;
      width: 25%;
    }

    .sum {
      font-weight: 700;
      font-size: 13px;
    }

    .text {
      padding-top: 10px;
      font-weight: bold !important;
    }

    .statements {
      margin-top: 10px;
      font-size: 12px;
    }

    .expenses {
      margin-bottom: 10px;
    }


    .liar {
      min-width: 110%;
      min-height: 1px;
    }

    .seven {
      min-width: 7.5rem;
      margin-right: .5rem;
      margin-left: auto;
      height: 33px;
    }

    .files {
      margin-top: 30px;
    }

    .labeledChar {
      background-color: #bbb;
      padding: 1px 2px;
      border-radius: 2px;
    }

    @media screen {
      .next-page {
        page-break-after: always;
      }
    }
  </style>
</head>

<body>
  <div class="liar"></div>
  <div class="logo">
    <img src="https://lsi.slaskie.pl/public/img/logo_2014-2020.png" alt="logo UE">
  </div>
  <div class="container">
    <div class="intro">
      <div class="intro-box">
        <h1 class="primary-intro-title">Wniosek o stypendium</h1>
        <h2 class="intro-sub-title">Śląskie. Inwestujemy w talenty. VII edycja.</h2>
        <h3 class="ssecondary-intro-title">Numer wniosku: <span> <strong>{{submit.numer}}</strong></span> </h3>


      </div>
    </div>
    <div class="part-title">CZĘŚĆ A – INFORMACJE DOTYCZĄCE UCZNIA/UCZENNICY</div>

    <div class="row">
      <div class="small-box-container">
        <div class="small-box-title">I. Dane osobowe wnioskodawcy:</div>
        <div class="small-box">
          <div class="small-box-left">
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Imię wnioskodawcy:</div>
              <div name="name" class="normal-input"><span>{{user.firstName}}</span></div>
            </div>
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Nazwisko wnioskodawcy:</div>
              <div name="name" class="normal-input"><span>{{user.lastName}}</span></div>
            </div>
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Status wnioskodawcy:</div>
              <div name="name" class="normal-input"><span>{{submit.isSelf}}</span></div>
            </div>
          </div>

          <div class="small-box-right">
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Numer telefonu wnioskodawcy:</div>
              <div name="name" class="normal-input"><span>{{submit.phone}}</span></div>
            </div>
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Email wnioskodawcy:</div>
              <div name="name" class="normal-input"><span>{{user.email}}</span></div>
            </div>
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Adres skrzynki ePuap:</div>
              <div name="name" class="normal-input"><span>{{submit.epuapAdr}}</span></div>
            </div>
          </div>
        </div>
      </div>


      <div class="small-box-container">
        <div class="small-box-title">II. Dane osobowe uczennicy/ucznia:</div>
        <div class="small-box">
          <div class="small-box-left">
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Imię uczennicy/ucznia:</div>
              <div name="name" class="normal-input"><span>{{submit.pupilFirstName}}</span></div>
            </div>
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Nazwisko uczennicy/ucznia:</div>
              <div name="name" class="normal-input"><span>{{submit.pupilLastName}}</span></div>
            </div>
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">PESEL:</div>
              <div name="name" class="normal-input"><span>{{submit.pupilPesel}}</span></div>
            </div>
          </div>

          <div class="small-box-right">
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Email uczennicy/ucznia:</div>
              <div name="name" class="normal-input"><span>{{submit.pupilEmail}}</span></div>
            </div>
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Numer telefonu uczennicy/ucznia:</div>
              <div name="name" class="normal-input"><span>{{submit.pupilPhone}}</span></div>
            </div>

          </div>
        </div>
      </div>
    </div>




    <div class="row">
      <div class="small-box-container">
        <div class="small-box-title">III. Dane szkoły:</div>
        <div class="small-box school">
          <div class="small-box-left">
            <div class="normal-input-container">
              <div for="name" class="normal-input-title school-name">Pełna nazwa szkoły:</div>
              <div name="name" class="normal-input"><span>{{submit.schoolName}}</span></div>
            </div>

            <div class="flex-2">
              <div class="normal-input-container adress">
                <div for="name" class="normal-input-title">Adres:</div>
                <div name="name" class="normal-input gap-right"><span>{{submit.schoolStreetName}}
                    {{submit.schoolStreetNr}}</span></div>
              </div>
              <div class="normal-input-container zip">
                <div for="name" class="normal-input-title">Kod pocztowy:</div>
                <div name="name" class="  normal-input"><span>{{submit.schoolZip}}</span></div>
              </div>

            </div>

          </div>

          <div class="small-box-right">
            <div class="flex-3">
              <div class="normal-input-container town">
                <div for="name" class="normal-input-title">Miejscowość:</div>
                <div name="name" class="normal-input gap-right"><span>{{submit.schoolTown}}
                    ({{submit.schoolVoyev}})</span></div>
              </div>
              <div class="normal-input-container type">
                <div for="name" class="normal-input-title type">Rodzaj szkoły:</div>
                <div name="name" class="normal-input"><span>{{submit.schoolType}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="small-box-container">
        <div class="small-box-title">IV. Dane kandydata na opiekuna dydaktycznego:</div>
        <div class="small-box">
          <div class="small-box-left">
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Imię doradcy:</div>
              <div name="name" class="normal-input"><span>{{submit.counselorFirstName}}</span></div>
            </div>
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Nazwisko doradcy:</div>
              <div name="name" class="normal-input"><span>{{submit.counselorLastName}}</span></div>
            </div>
            <div class="normal-input-container ghost">
              <div for="name" class="normal-input-title">Nazwisko doradcy:</div>
              <div name="name" class="normal-input"><span>Warazyniak</span></div>
            </div>

          </div>

          <div class="small-box-right">
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Profil doradcy:</div>
              <div name="name" class="normal-input"><span>{{submit.counselorProfile}}</span></div>
            </div>


          </div>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="small-box-container">
        <div class="small-box-title">V. Podstawowe kryteria oceny:</div>
        <div class="small-box">
          <div class="small-box-left">
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Matematyka:</div>
              <div name="name" class="normal-input"><span>{{submit.priMathGrade}}</span></div>
            </div>
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Inny przedmiot ({{submit.priOtherSubj}}):</div>
              <div name="name" class="normal-input"><span>{{submit.priOtherSubjGrade}}</span></div>
            </div>
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Średnia wszystkich ocen:</div>
              <div name="name" class="normal-input"><span>{{submit.allTotalAver}}</span></div>
            </div>
          </div>

          <div class="small-box-right">
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Język obcy ({{submit.priLang}}):</div>
              <div name="name" class="normal-input"><span>{{submit.priLangGrade}}</span></div>
            </div>
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">Średnia przedm.kierunkowych:</div>
              <div name="name" class="normal-input"><span>{{submit.priTotalAver}}</span></div>
            </div>
            <div class="normal-input-container ghost">
              <div for="name" class="normal-input-title">Konto ePuap</div>
              <div name="name" class="normal-input"><span></span></div>
            </div>
          </div>
        </div>
      </div>


      <div class="small-box-container">
        <div class="small-box-title">VI. Dodatkowe kryteria oceny:</div>
        <div class="small-box additional">

          <div class="normal-input-container">
            <div class="text-container">
Uczeń/uczennica w roku szkolnym 2019/2020 uzyskał/a tytułu laureatki/ta lub finalistki/ty konkursu o zasięgu co najmniej
wojewódzkim lub olimpiady/turnieju co najmniej II stopnia:</div>
            <div name="name" class="normal-input seven"><span>{{submit.isFinalist}}</span></div>

          </div>
          <div class="normal-input-container">
            <div class="text-container"> Uczeń/uczennica posiada w roku szkolnym 2019/2020 zezwolenie na uczestnictwo,
              ze względu na
              szczególne
              uzdolnienia
              w indywidualnym programie nauczania:</div>
            <div name="name" class="normal-input seven"><span>{{submit.isAllowed}}</span></div>
          </div>
          <div class="normal-input-container">
            <div class="text-container"> Uczeń/uczennica posiada aktualne na dzień składania wniosku orzeczenie o
              niepełnosprawności lub
              orzeczenie
              o stopniu
              niepełnosprawności lub orzeczenie o potrzebie kształcenia specjalnego:</div>
            <div name="name" class="normal-input seven"><span>{{submit.isHandicap}}</span></div>
          </div>



        </div>
      </div>
    </div>
    <div class="next-page"></div>
    <div class="part-title">CZĘŚĆ B – PLAN ROZWOJU UCZNIA</div>

    <div class="row">
      <div class="small-box-container">
        <div class="small-box-title">Cele edukacyjne i rezultaty planowane do osiągnięcia w trakcie otrzymywania
          stypendium:</div>
        <div class="small-box">
          <div class="small-box-left">



            <div class="normal-input-container">
              <h4 class="reversed">Tabela 1</h4>
              <h4>VII. ŚCIEŻKA ROZWOJU EDUKACYJNEGO UCZNIA / UCZENNICY - Przedmiot kierunkowy</h4>
              <div for="name" class="normal-input-title">Przedmiot kierunkowy: </div>
              <div name="name" class="normal-input half"><span>{{submit.tab1Subj}}</span></div>
            </div>
            <div class="sub-title">Wybrane rezultaty:</div>

            {{#each tabs1}}
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">{{inc @index}}. <span>{{description}}</span></div>

              {{#if value}}

              <div name="name" class="normal-input">{{value}}</div>

              {{/if}}


            </div>
            {{/each}}

          </div>

        </div>

        <div class="small-box down-table">
          <div class="small-box-left">

            <div class="normal-input-container">
              <h4 class="reversed">Tabela 2</h4>
              <h4>VII. ŚCIEŻKA ROZWOJU EDUKACYJNEGO UCZNIA / UCZENNICY - Przedmiot kluczowy</h4>
              <div for="name" class="normal-input-title">Przedmiot kluczowy: </div>
              <div name="name" class="normal-input half"><span>
                  {{#if submit.tab2SubjName}}
                  {{submit.tab2SubjName}}
                  {{else}}
                  {{submit.tab2Subj}}
                  {{/if}}
                </span></div>
            </div>
            <div class="sub-title">Wybrane rezultaty:</div>



            {{#each tabs2}}
            <div class="normal-input-container">
              <div for="name" class="normal-input-title">{{inc @index}}. <span>{{description}}</span></div>
              {{#if value}}

              <div name="name" class="normal-input">{{value}}</div>

              {{/if}}

            </div>
            {{/each}}





          </div>

        </div>
      </div>

    </div>
    <div class="next-page"></div>

    <div class="part-title expenses">VIII. PLAN WYDATKÓW:</div>
    <h4>Lista planowanych wydatków na realizację ścieżki rozwoju:</h4>
    <table>
      <thead>
        <tr>
          <th>
            LP
          </th>
          <th>
            Katalog wydatków
          </th>
          <th>
          Szacunkowy koszt w pełnych złotych (PLN)
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            1
          </td>
          <td>
            Zakup pomocy dydaktycznych i przyborów szkolnych
          </td>
          <td class="cost">
            <span> {{format submit.cost1}} zł</span>
          </td>
        </tr>

        <tr>
          <td>
            2
          </td>
          <td>
            Wydatki związane z wyposażeniem miejsca domowej nauki
          </td>
          <td class="cost">
            <span> {{format submit.cost2}} zł</span>
          </td>
        </tr>

        <tr>
          <td>
            3
          </td>
          <td>
            Zakup sprzętu komputerowego wraz z oprogramowaniem i akcesoriami
          </td>
          <td class="cost">
            <span> {{format submit.cost3}} zł</span>
          </td>
        </tr>

        <tr>
          <td>
            4
          </td>
          <td>
            Zakup sprzętu elektronicznego
          </td>
          <td class="cost">
            <span> {{format submit.cost4}} zł</span>
          </td>
        </tr>

        <tr>
          <td>
            5
          </td>
          <td>
            Opłaty związane z dostępem do Internetu
          </td>
          <td class="cost">
            <span> {{format submit.cost5}} zł</span>
          </td>
        </tr>

        <tr>
          <td>
            6
          </td>
          <td>
            Koszty transportu ponoszone przez ucznia/uczennicę w celu dotarcia
            do szkoły oraz na dodatkowe zajęcia edukacyjne. (Nie dotyczy kosztów
            związanych z zakupem paliwa samochodowego)
          </td>
          <td class="cost">
            <span> {{format submit.cost6}} zł</span>
          </td>
        </tr>

        <tr>
          <td>
            7
          </td>
          <td>
            Opłaty za kursy, szkolenia
          </td>
          <td class="cost">
            <span> {{format submit.cost7}} zł</span>
          </td>
        </tr>

        <tr>
          <td>
            8
          </td>
          <td>
            Wydatki zawiązane z wyposażeniem ucznia/uczennicy niezbędnym dla
            realizacji potrzeb edukacyjno-rozwojowych wskazanych w PRU

          </td>
          <td class="cost">
            <span> {{format submit.cost8}} zł</span>
          </td>
        </tr>


        <tr>
          <td>9
          </td>
          <td>
            Opłaty szkolne

          </td>
          <td class="cost">
            <span> {{format submit.cost9}} zł</span>
          </td>
        </tr>


        <tr>
          <td>10
          </td>
          <td>
            Koszty uczestnictwa w konkursach, turniejach, olimpiadach
          </td>
          <td class="cost">
            <span> {{format submit.cost10}} zł</span>
          </td>
        </tr>


        <tr>
          <td>11
          </td>
          <td>
            Koszty uczestnictwa w kulturze wysokiej
          </td>
          <td class="cost">
            <span> {{format submit.cost11}} zł</span>
          </td>
        </tr>


        <tr>
          <td>12
          </td>
          <td>
            Inne (wymień i uzasadnij w części A )
          </td>
          <td class="cost">
            <span> {{format submit.cost12}} zł</span>
          </td>
        </tr>


      </tbody>

      <tfoot>
        <tr>
          <td class="sum" colspan="2"> Razem

          <td class="cost sum">
            <span> {{format submit.totalCosts}} zł</span>
          </td>
        </tr>





        <tr>
          <td class="text" colspan="3"><strong class='labeledChar'>A</strong> Wpisz wszystkie kategorie oraz
            uzasadnienie planowanych wydatków, które nie mieszczą się w katalogu wskazanym w § 8 ust. 5 Regulaminu -
            jeśli dotyczy i w wierszu 12 zaplanowano kwotę:
        </tr>

        <tr>
          <td colspan="3">
            <div name="name" class="normal-input">{{submit.substantion1}}</div>

            {{!-- <div>{{submit.substantion1}} --}}
            </div>
        </tr>


        <tr>
          <td class="text" colspan="3"> <strong class='labeledChar'>B</strong> Uzasadnienie zakupu sprzętu tożsamego z
            już zakupionym sprzętem ze środków stypendialnych otrzymanych w ramach projektu „Śląskie. Inwestujemy w
            talenty – V edycja” - jeśli dotyczy:
        </tr>

        <tr>
          <td colspan="3">
            <div name="name" class="normal-input">{{submit.substantion2}}</div>
        
            {{!-- <div>{{submit.substantion2}} --}}
            </div>
        </tr>
      </tfoot>
    </table>






    <br>
    <div class="part-title files">IX. ZAŁĄCZNIKI:</div>
    <table>
      <thead>
        <tr>
          <th>
            LP
          </th>
          <th>
            Rodzaj dokumentu
          </th>
          <th> Rodzaj pliku

          </th>
          <th>
            Wielkość pliku
          </th>
          <th>
            Suma kontrolna pliku
          </th>
        </tr>
      </thead>
      <tbody>


        {{#each files}}
        <tr>
          <td>
            {{inc @index}}
          </td>
          <td>
            {{typeToName type}}
          </td>
          <td>
            {{mime fileName}}
          </td>
          <td>
            {{toMB size}}
          </td>
          <td class="cost">
            <span> {{checksum}}</span>
          </td>
        </tr>

        {{/each}}


    </table>





    <div class="next-page"></div>

    <div class="part-title expenses">X. OŚWIADCZENIA:</div>
    <div class="small-box statements">
      <div class="small-box-left">
        <br />
        <br />
        <h3>Oświadczenia rodzica/opiekuna prawnego niepełnoletniego ucznia / uczennicy lub pełnoletniego ucznia /
          uczennicy</h3>
        <div className='intro'>
          W związku z przystąpieniem do projektu pn. Śląskie. Inwestujemy w
          talenty – VI edycja:
        </div>

        <ol>
          <li>
            Oświadczam, iż:
            <ol type='a'>
              <li>
                uczeń / uczennica, o którym / której mowa we Wniosku o
                przyznanie stypendium, w okresie trwania zajęć
                dydaktyczno-wychowawczych w roku szkolnym 2020/2021, będzie
                realizować przedmiotowy Plan Rozwoju Ucznia, w tym przede
                wszystkim pracować na rzecz osiągnięcia założonych celów
                edukacyjnych i rezultatów w zakresie przedmiotów kierunkowych
                wskazanych we wniosku o przyznanie stypendium i przestrzegać
                przedłożonego planu wydatków.
              </li>
              <li>
                uczeń / uczennica, o którym / której mowa we Wniosku o
                przyznanie stypendium, w okresie trwania zajęć
                dydaktyczno-wychowawczych w roku szkolnym 2020/2021, będzie
                realizować przedmiotowy Plan Rozwoju Ucznia, w tym przede
                wszystkim pracować na rzecz osiągnięcia założonych celów
                edukacyjnych i rezultatów w zakresie przedmiotów kierunkowych
                wskazanych we wniosku o przyznanie stypendium i przestrzegać
                przedłożonego planu wydatków.
              </li>
            </ol>
          </li>
          <li>
            Zobowiązuję się do poinformowania Departamentu Europejskiego
            Funduszu Społecznego o zaprzestaniu sprawowania opieki dydaktycznej
            przez kandydata na opiekuna dydaktycznego lub opiekuna
            dydaktycznego,
          </li>
          <li>
            Oświadczam, że informacje zawarte w niniejszym wniosku są zgodne z
            prawdą.
          </li>
          <li>
            Oświadczam, że zapoznałem/am się ze wzorem umowy stypendialnej, a
            także pozostałą dokumentacją projektową
          </li>
          <li>
            Oświadczam, że zapoznałem/am się z Regulaminem przyznawania
            stypendiów w ramach projektu Śląskie. Inwestujemy w talenty - VI
            edycja realizowanego w ramach Regionalnego Programu Operacyjnego
            Województwa Śląskiego na lata 2014-2020 i akceptuję wszystkie jego
            postanowienia
          </li>
          <li>
            Oświadczam, iż posiadam oryginały dokumentów dołączonych do Wniosku
            i zobowiązuję się do ich przedstawienia na wezwanie Beneficjenta.
          </li>
          <li>
            Oświadczam, iż planowane w obrębie katalogów 2-4 wydatki nie są
            tożsame z już zakupionym sprzętem ze środków stypendialnych
            otrzymanych w ramach projektu „Śląskie. Inwestujemy w talenty – V
            edycja”, z wyłączeniem sytuacji w której ich planowany zakup został
            uzasadniony we wniosku.
          </li>
          <li>
            Oświadczam, iż informacje zawarte we wniosku i załącznikach są
            zgodne ze stanem faktycznym i jestem świadomy odpowiedzialności
            karnej dotyczącej składania nierzetelnych, pisemnych oświadczeń co
            do okoliczności o istotnym znaczeniu dla uzyskania wsparcia.
          </li>
          <li>
            Przyjmuję do wiadomości, iż:
            <ol type='a'>
              <li>
                Administratorem danych osobowych jest Zarząd Województwa
                Śląskiego, z siedzibą przy ul. Ligonia 46, 40-037 Katowice,
                adres email: kancelaria@slaskie.pl, strona internetowa:
                bip.slaskie.pl, www.slaskie.pl;
              </li>
              <li>
                Została wyznaczona osoba do kontaktu w sprawie przetwarzania
                danych osobowych (inspektor ochrony danych), adres email:
                daneosobowe@slaskie.pl;
              </li>
              <li>
                Moje dane osobowe, w związku ze złożeniem wniosku o przyznanie
                stypendium w ramach programu wspierania edukacji uzdolnionej
                młodzieży, będą przetwarzane w celu obsługi i realizacji
                projektu Śląskie. Inwestujemy w talenty – VI edycja, w tym:
                <ul>
                  <li>rekrutacji uczniów do projektu;</li>
                  <li>odpisywania umów cywilnoprawnych;</li>
                  <li>
                    organizacji przedsięwzięć dotyczących informacji i promocji
                    projektu (działania te mogą obejmować także upublicznianie
                    wizerunku);
                  </li>
                  <li>archiwizacji dokumentacji projektu.</li>
                </ul>
                Moje dane osobowe w przypadku zakwalifikowania (przyznania
                stypendium) do projektu dofinansowanego ze środków Regionalnego
                Programu Operacyjnego Województwa Śląskiego na lata 2014-2020
                (RPO WSL) będą przetwarzane także do celów:
                <ul>
                  <li> udzielenia wsparcia;</li>

                  <li> potwierdzenia kwalifikowalności wydatków;</li>
                  <li> monitoringu;</li>
                  <li> ewaluacji;</li>
                  <li> kontroli; </li>
                  <li> audytu prowadzonego przez upoważnione instytucje; </li>
                  <li> sprawozdawczości;</li>
                  <li> rozliczenia projektu;</li>
                  <li>

                    odzyskiwania wypłaconych beneficjentowi środków
                    dofinansowania;
                  </li>
                  <li> zachowania trwałości projektu; </li>
                  <li> badań i analiz; </li>
                  <li>

                    działania informacyjno-promocyjne w ramach RPO WSL
                    2014-2020;
                  </li>
                  <li>archiwizacji.</li>
                </ul>
                Podstawą prawną przetwarzania moich danych osobowych jest
                obowiązek prawny ciążący na administratorze (art. 6 ust. 1 lit.
                c oraz art. 9 ust. 2 lit. g Rozporządzenia Parlamentu
                Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w
                sprawie ochrony osób fizycznych w związku z przetwarzaniem
                danych osobowych i w sprawie swobodnego przepływu takich danych
                oraz uchylenia dyrektywy 95/46/WE – dalej: RODO), wynikający z:
                <ul>
                  <li>
                    ustawy z dnia 11 lipca 2014 r. o zasadach realizacji
                    programów w zakresie polityki spójności finansowanych w
                    perspektywie finansowej 2014-2020 - w szczególności art. 6 i
                    9;
                  </li>
                  <li>
                    rozporządzenia Parlamentu Europejskiego i Rady (UE) nr
                    1303/2013 z dnia 17 grudnia 2013 r. ustanawiające wspólne
                    przepisy dotyczące Europejskiego Funduszu Rozwoju
                    Regionalnego, Europejskiego Funduszu Społecznego, Funduszu
                    Spójności, Europejskiego Funduszu Rolnego na rzecz Rozwoju
                    Obszarów Wiejskich oraz Europejskiego Funduszu Morskiego i
                    Rybackiego oraz ustanawiające przepisy ogólne dotyczące
                    Europejskiego Funduszu Rozwoju Regionalnego, Europejskiego
                    Funduszu Społecznego, Funduszu Spójności i Europejskiego
                    Funduszu Morskiego i Rybackiego oraz uchylające
                    rozporządzenie Rady (WE) nr 1083/2006 – w szczególności art.
                    125;
                  </li>
                  <li>
                    rozporządzenia Parlamentu Europejskiego i Rady (UE) nr
                    1304/2013 z dnia 17 grudnia 2013 r. w sprawie Europejskiego
                    Funduszu Społecznego i uchylające rozporządzenie Rady (WE)
                    nr 1081/2006 – w szczególności załącznik nr 1;
                  </li>
                  <li>
                    ustawy z dnia z dnia 5 czerwca 1998 r. o samorządzie
                    województwa – w szczególności art. 11;
                  </li>
                  <li>
                    ustawy z dnia 7 września 1991 r. o systemie oświaty – art.
                    90t.
                  </li>
                </ul>
              </li>
              <li>
                Moje dane osobowe będą ujawniane osobom upoważnionym przez
                administratora danych osobowych w związku z realizacją celów o
                których mowa w lit. c, podmiotom upoważnionym na podstawie
                przepisów prawa, dostawcom systemów informatycznych i usług IT,
                operatorowi pocztowemu lub kurierowi, podmiotom realizującym
                badania ewaluacyjne lub inne działania związane z realizacją
                Regionalnego Programu Operacyjnego Województwa Śląskiego na lata
                2014 - 2020 na zlecenie Instytucji Zarządzającej lub
                Beneficjenta w tym analiz, ekspertyz, ministrowi właściwemu do
                spraw rozwoju regionalnego, wykonawcom/organizatorom
                przedsięwzięć dotyczących informacji i promocji projektu,
                podmiotom realizującym archiwizację, stronom i innym uczestnikom
                postępowań administracyjnych. Ponadto w zakresie stanowiącym
                informację publiczną dane będą ujawniane każdemu
                zainteresowanemu taką informacją lub publikowane w BIP Urzędu
              </li>
              <li>
                Dane osobowe będą przechowywane do czasu zamknięcia Regionalnego
                Programu Operacyjnego Województwa Śląskiego na lata 2014-2020
                (art. 140 i 141 Rozporządzenia Parlamentu Europejskiego i Rady
                (UE) nr 1303/2013 dnia 17 grudnia 2013 r.) bez uszczerbku dla
                zasad regulujących pomoc publiczną oraz krajowych przepisów
                dotyczących archiwizacji dokumentów;
              </li>
              <li>
                Przysługuje mi prawo dostępu do treści swoich danych oraz prawo
                żądania ich sprostowania, usunięcia lub ograniczenia
                przetwarzania, prawo wniesienia skargi do Prezesa Urzędu Ochrony
                Danych Osobowych;
              </li>
              <li>
                Administrator danych osobowych, na mocy art. 17 ust. 3 lit. b
                RODO, ma prawo odmówić usunięcia moich danych osobowych;
              </li>
              <li>
                Podanie przeze mnie danych osobowych jest wymogiem ustawowym, a
                konsekwencją ich niepodania będzie brak możliwości uczestnictwa
                w projekcie;
              </li>
              <li>
                Moje dane osobowe nie będą wykorzystywane do zautomatyzowanego
                podejmowania decyzji ani profilowania, o którym mowa w art. 22
                RODO.
              </li>
            </ol>
          <li>
            Udostępnię informację o swojej sytuacji na rynku pracy firmom
            badawczym realizującym ewaluacje/analizy/ekspertyzy na zlecenie
            Beneficjenta oraz Instytucji Zarządzającej.
          </li>
          </li>
        </ol>


      </div>

    </div>

  </div>

</body>

</html>